h1 {
  color: #d2fdff;
  text-align: center;
  margin-top: 2rem;

}

.mainContainer {
  background: rgb(2, 0, 36);
  background: linear-gradient(220deg, rgba(2, 0, 36, 1) 0%, rgba(5, 4, 75, 1) 17%, rgba(6, 6, 89, 1) 40%, rgb(13, 13, 109) 63%, rgb(21, 21, 151) 80%);
  /*background-image: url("./pictures/background.jpg")*/
}

.navbarRight {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbarDark {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  z-index: 5;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(5, 4, 75, 1) 17%, rgba(6, 6, 89, 1) 40%, rgb(13, 13, 109) 63%, rgb(21, 21, 151) 80%);
}

.navbarLight {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  z-index: 5;
  background: white;
}


.buttonAnimated {
  position: relative;
  color: #d2fdff;
  border: none;
  cursor: pointer;
  min-width: 6em;
  min-height: 1em;
  font-size: 2em;
  background-color: var(--background-color);
  margin-top: 1em;
  border-right: 2px solid #d2fdff;
  font-size: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;

  --border-size: 2px;
  --accent-color: #F4976c;
}

.buttonAnimated::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--border-size);
  background-color: var(--accent-color);
  transition: transform 200ms ease-in-out;

  transform: scaleX(0);
}

.buttonAnimated:hover::before,
.buttonAnimated:focus::before {
  transform: scaleX(1)
}

.languageSelection {
  display: flex;
  justify-content: baseline;
  margin-top: 1em;
  padding-left: 0.5em;
}

.languageSelector {
  max-width: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
}

.burgermenu {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  text-align: end;
}

.burgerbutton {
  color: #d2fdff;
  background-color: transparent;
  border: none;
  font-size: 1em;
  cursor: pointer;
  text-align: end;
  position: fixed;
  right: 0;
}

.burgerclosingbutton {
  color: #0b0446;
  background-color: white;
  border: none;
  font-size: 1em;
  cursor: pointer;
  text-align: end;
}

.burgerlist {
  display: flex;
  list-style: none;
  font-size: 0.5em;
  justify-content: center;
  padding-right: 0.5em;
  background-color: white ;
}

.burgerlist>li {
  background-color: white;
  cursor: pointer;
}

.burgermenubutton {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: #0b0446;

}

.burgerLanguageSelector{
  width: 1em;
  cursor: pointer;
  padding: 0.5em;
}

.burgerdiv {
  position: fixed;
  background-color: white;
  border-radius: 16px;
  padding-right: 0.5em;
  z-index: 1000;
  box-shadow: -2px 0 5px #d2fdff;
  right: 0em;
  transform: translateX(120%);
}

/* burgermenu open */
.burgerdivactive {
  display: block;
  animation: slideIn 0.5s forwards;
  position: fixed;
  background-color: white;
  border-radius: 16px;
  padding-right: 0.5em;
  z-index: 1000;
  right: 1em;
}

/* Slide out animation. Probably won't work, since the .burgerdivactive class is not active as soon as the menu closes*/
@keyframes slideOut {
  from {
    transform: translateY(-1em);
  }

  to {
    transform: translateY(-2em);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-2em);
  }

  to {
    transform: translateY(-1em);
  }
}

.aboutme {
  display: flex;
  justify-content: center;
  text-align: center;
}

.aboutMeHeader {
  padding-top: 1em;
}

.myPicture {
  margin-right: 0.5em;
  flex-shrink: 0;
}

.myDescription {
  margin-left: 0.5em;
  position: relative;
  max-width: 20em;
  color: #d2fdff;
  flex-shrink: 0;
  text-align: center;
}

.myCertificateContainer {
  padding-top: 2em;
  align-items: center;
  text-align: center;
}

.myCertificate {
  width: 70%;
  transition: transform 0.3s ease-in-out;
}

.myCertificate:hover {
  box-shadow: #F4976c 0px 2px 8px, #F4976c 0px 0px 0px 6px;
  transform: scale(1.1);
}

.techstack {
  color: #d2fdff;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr
}

/*Maybe use shadow with light color to make visual more appealing?*/
.techstacktile {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2.5%;
}

.techstacktilepicture {
  width: 5em;
  border-radius: 16px;
  background-color: white;
  transition: box-shadow 0.3s;
}

.techstacktilepicture:hover {
  box-shadow: 5px 5px 5px #F4976c;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
    padding: 0;
  }

  .navbar {
    display: none;
  }

  .burgermenu {
    display: block;
    padding-top: 1em;
  }

  .burgerlist {
    display: none
  }

  .burgerlist.active {
    display: flex;
  }

  .aboutme {
    flex-wrap: wrap;
    flex-shrink: 0;
  }

  .myDescription {
    text-align: center;
  }

  .techstack {
    display: grid;
    grid-template-columns: 1fr;
  }

  .languageSelection {
    display: flex;
    justify-content: baseline;
    margin-top: 1.5em;
    padding-left: 0.5em;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
    padding: 0;
  }

  .navbar {
    display: none;
  }

  .burgermenu {
    display: block;
    padding-top: 1em;

  }

  .burgerlist {
    display: none
  }

  .burgerlist.active {
    display: flex;
  }

  .aboutme {
    flex-wrap: wrap;
    flex-shrink: 0;
  }

  .myDescription {
    text-align: center;
  }

  .techstack {
    display: grid;
    grid-template-columns: 1fr;
  }

  .languageSelection {
    display: flex;
    justify-content: baseline;
    margin-top: 1.5em;
    padding-left: 0.5em;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
    padding: 0;
  }

  .navbar {
    display: none;
  }

  .burgermenu {
    display: block;
    padding-top: 1em;

  }

  .burgerlist {
    display: none
  }

  .burgerlist.active {
    display: flex;
  }

  .aboutme {
    flex-wrap: wrap;
    flex-shrink: 0;
  }

  .myDescription {
    text-align: center;
  }

  .techstack {
    display: grid;
    grid-template-columns: 1fr;
  }

  .languageSelection {
    display: flex;
    justify-content: baseline;
    margin-top: 1.5em;
    padding-left: 0.5em;
  }
}