

h1{
  color:#d2fdff;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 2rem;
}

.mainContainer{
 /* background-image: url("./pictures/background.jpg");
  background-size:cover ;
  background-repeat: no-repeat;*/
  background-color: #01071d;
}

.navbar{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
/*
.buttonAnimated{
  color: #d2fdff;
  border: none;
  cursor: pointer;
  min-width: 6em;
  min-height: 3em;
  font-size: 2em;
  background-color: var(--background-color);

  --border-size: 2px;
  --accent-color: #d2fdff;
}
*/
/*.navbarButton > button:hover{
  background-color: #d2fdff;
  color: #303c6c
}*/

.buttonAnimated{
  position: relative;
  color: #d2fdff;
  border: none;
  cursor: pointer;
  min-width: 6em;
  min-height: 1em;
  font-size: 2em;
  background-color: var(--background-color);
  margin-top: 1em;

  --border-size: 2px;
  --accent-color: #d2fdff;
}

.buttonAnimated::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--border-size);
  background-color: var(--accent-color);
  transition: transform 200ms ease-in-out;

  transform: scaleX(0);
}

.buttonAnimated:hover::before,
.buttonAnimated:focus::before{
  transform: scaleX(1)
}

.languageSelection{
  display: flex;
  justify-content: end;
}

.languageSelector{
  max-width: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
}

.burgermenu{
  display: none;
  font-size: 2rem;
  background:none;
  border: none;
  color: white;
  text-align: end;

}

.burgerbutton{
  color:#d2fdff;
  background-color: #01071d;
  border: none;
  font-size: 1em;
  cursor:pointer;
  text-align: end;
}

.burgerlist{
  display: flex;
  list-style: none;
  color: #01071d;
  font-size: 0.5em;
  justify-content: end;
  padding-right: 0.5em;
}

.burgerdiv{
  position: fixed;
  background-color: #d2fdff;
  border-radius: 16px;
  padding-right: 0.5em;
  z-index: 1000;
  box-shadow: -2px 0 5px #d2fdff;
  right: 0em;
}

.aboutme{
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid red;
}

.myPicture{
  border: 1px solid red;
  margin-right: 0.5em;
}

.myDescription{
  margin-left: 0.5em;
  border: 1px solid red;
  position: relative;
  max-width: 20em;
  color: #d2fdff;
}

.techstack{
  border: 1px solid red;
  color:#d2fdff;
  display: flex;
  justify-content: center;
}

.techstacktile{
  border: 1px solid red;
  width:33%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2.5%
}

.techstacktilepicture{
  width: 5em;
  color: #d2fdff;
  border-radius:  16px;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid green;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .navbar{
    display: none;
  }
  .burgermenu{
    display:block;
  }
  .burgerlist{
    display:none
  }
  .burgerlist.active{
    display: flex;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .navbar{
    display: none;
  }
  .burgermenu{
    display:block;
  }
  .burgerlist{
    display:none
  }
  .burgerlist.active{
    display: flex;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  .navbar{
    display: none;
  }
  .burgermenu{
    display:block;
  }
  .burgerlist{
    display:none
  }
  .burgerlist.active{
    display: flex;
  }
}
